/DSA-SparkSQL-Service/DSA-SparkSQL-Service/target/
/DSA-SQL-JDBCJPAService/DSA-SQL-JDBCJPAService/target
/DSA-SQL-JPAService/DSA-SQL-JPAService/target/
/DSA-DOC-XLSService/DSA-DOC-XLSService/target/
/DSA-NoSQL-MongoDBService/DSA-NoSQL-MongoDBService/target
/DSA-WEB-RESTService/DSA-WEB-RESTService/target